.skip-grid-container {
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 2.5rem 1rem;
}

.skip-grid-wrapper {
  max-width: 80rem;
  margin: 0 auto;
}
.loading-message,
.error-message {
  text-align: center;
  margin-top: 2rem;
  color: white;
}

.error-message {
  color: red;
}

.skip-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
.skip-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/* Bottom modal */
.skip-bottom-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0d0e11;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 2px solid #0d0e11;
  z-index: 999;
  flex-wrap: wrap;
}
.skip-card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: auto;
  margin-top: 47px;
}
.skip-grid-heading {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.skip-grid-subheading {
  margin-bottom: 2rem;
  color: #9ca3af; /* Tailwind's text-gray-400 */
}

.skip-modal-left {
  /* flex: 1 1 60%; */
  padding: 0.5rem;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.modal_price {
  margin-right: 20px;
}
.modal_period {
  opacity: 0.7;
}
.skip-modal-right {
  display: flex;
  gap: 1rem;
  /* flex: 1 1 40%; */
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.btn-back,
.btn-continue {
  padding: 0.5rem 1rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  /* width: 350px; */
  width: 200px;
}

.btn-back {
  background: #374151;
  color: white;
}

.btn-continue {
  background: #0f0ab9;
  color: white;
}

@media (min-width: 640px) {
  .skip-grid-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
